<h6>{{t "refineSearch"}}</h6>
<div class="list-group">
  <a href="#" class="list-group-item active">{{t 'link'}}</a>
  <a href="#" class="list-group-item">{{t 'link'}}</a>
  <a href="#" class="list-group-item">{{t 'link'}}</a>
  <a href="#" class="list-group-item">{{t 'link'}}</a>
  <a href="#" class="list-group-item">{{t 'link'}}</a>
  <a href="#" class="list-group-item">{{t 'link'}}</a>
  <a href="#" class="list-group-item">{{t 'link'}}</a>
  <a href="#" class="list-group-item">{{t 'link'}}</a>
  <a href="#" class="list-group-item">{{t 'link'}}</a>
  <a href="#" class="list-group-item">{{t 'link'}}</a>
</div>